<% provide(:title, "About")%>
<h1>About</h1>
<p>
	Hipstagram is a clone of basic Instagram functionalities. More info can be found on the project's <a href="https://github.com/richddr/hipstagram" title="GitHub">GitHub</a> page.
</p>