<% provide(:title, "Contact")%>
<h1>Contact</h1>
<p>
	<a href="https://github.com/richddr" title="GitHub">GitHub</a> |
	<a href="http://twitter.com/richddr" title="Twitter">Twitter</a> |
	<a href="http://facebook.com/richddr" title="Facebook">Facebook</a> |
	<a href="http://www.linkedin.com/in/richddr" title="LinkedIn">LinkedIn</a>
</p>