<% provide(:title, "Guest Account")%>
<h1>Guest</h1>
<p>
	Try out Hipstagram with the following guest account:<br>
	<strong>Email:</strong> guest@hipstagram.com <br>
	<strong>Password:</strong> foobar
</p>